
.factorial, .n-Queens {
  margin-left: 40px;
	border: 1px solid black;
	display: inline-block;
	padding: 10px;
}

.factorialRow {
	background-color: lightgray;
	display: block;
}

.container {
	display: inline-block;
	background-image: url('./mathSeamless.jpg');
	width: 1200px;
	height: 2000px;
}

.board {
	display: inline-block;
	margin: 10px;
	font-weight: bold;
}

.success {
	border: 3px solid darkgreen;
	padding: 5px;
	background-color: green;
}

.fail {
	padding: 5px;
	border: 3px solid red;
	background-color: red;
}

.hasnot {
	background-color: yellow;
}

.has {
	background-color: lightgreen;
}